@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style>
.first-section-background {
    background-image: url('css/images/background.png'); 
    min-height: 400px; 
    background-size: cover;       
    background-position: center;  
    background-repeat: no-repeat; 
    padding-top: 50px; 
    padding-bottom: 50px;
}
</style>

<div class="first-section-background">
    <div class="text-center p-5">
        <h1 class="display-4 text-black">Welcome to Apple Store</h1>
        <p class="text-black-50">Learn about our amazing products.</p>
    </div>
</div>
