@page
@model Apple_Store.Pages.Product.EditModel

@{
    ViewData["Title"] = "Edit";
}

<style>
    .container {
        margin-right: 100px;
        margin-left: 100px;
    }

</style>

<div class="container">


        <h1>Edit</h1>

    <h4>Products</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger" style="margin-top:20px;"></div>
                <input type="hidden" asp-for="Products.Id" />
                <div class="form-group">
                    <label asp-for="Products.ProductName" class="control-label" style="margin-top:20px;"></label>
                    <input asp-for="Products.ProductName" class="form-control" />
                    <span asp-validation-for="Products.ProductName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Products.Description" class="control-label" style="margin-top:20px;"></label>
                    <input asp-for="Products.Description" class="form-control" />
                    <span asp-validation-for="Products.Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Products.ModelNumber" class="control-label" style="margin-top:20px;"></label>
                    <input asp-for="Products.ModelNumber" class="form-control" />
                    <span asp-validation-for="Products.ModelNumber" class="text-danger"></span>
                </div>
                <div class="form-group" style="margin-top:20px;">
                    <label asp-for="Products.Price" class="control-label"></label>
                    <input asp-for="Products.Price" class="form-control" />
                    <span asp-validation-for="Products.Price" class="text-danger"></span>
                </div>
                <div class="form-group" style="margin-top:50px;">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-page="./Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</div>